@import url(reset.css);
@import url(FM_part.css);


:root {
    /* colors */
    /* primary*/
    --clr-red: #f65351;
    --clr-blue: hsl(219, 85%, 26%);

     /* neutral */
     --clr-white: hsl(0, 0%, 100%);
     --clr-very-light-grayish-blue: hsl(210, 60%, 98%);
     --clr-light-grayish-blue1: hsl(211, 68%, 94%);
     --clr-light-grayish-blue2: hsl(205, 33%, 90%);
     --clr-grayish-blue: hsl(219, 14%, 63%);
     --clr-dark-grayish-blue: hsl(219, 12%, 42%);
     --clr-very-dark-blue: hsl(224, 21%, 14%);
  
    /* typography */
    /* fonts */
    --ff-primary: 'Plus Jakarta Sans', sans-serif;
    --fw-500: 500; /* base */
    --fw-800: 800;
    --fs-16: 1rem; /* 16px base */
}


html {
    height: 100%;
}

body {
    min-height: 100%;
}

p {
    line-height: 1.5;
}


body {
    display: flex;
    justify-content: center;
    font-family: var(--ff-primary);
    font-size: var(--fs-16);
    font-weight: var(--fw-500);
}

/*---------------------Mobile layout-------------------------*/
.grid_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'header'
        'main'
        'attribution';
    justify-items: center;
    justify-content: center;
    max-width: 24rem;
}

/* style 1st component - mobile */
.header {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-areas:
        'header__title header__switch';
    align-items: center;
    margin: 1rem 0;
    padding: .3rem;
    width: 95%;
}

.header__title {
    font-weight: var(--fw-800);
    color:  var(--clr-very-dark-blue);
    font-size: 1.2rem;
}

.notifications__number {
    font-size: var(--fs-16);
    font-weight: var(--fw-500);
    background-color: var(--clr-blue);
    color: var(--clr-white);
    padding: .1rem .6rem;
    margin: 0 0 0 .3rem;
    border-radius: .2rem;
}

.notifications__number--hide {
    display: none;
}

.header__switch {
    color: var(--clr-dark-grayish-blue);
}

/* style 2nd component - mobile */
.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'heading'
        'main__notifications';
}

.heading {
    display: none;
}

.main__notifications {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'main__container';
    justify-self: center;
    width: 95%;
}

.main__container {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 3fr;
    justify-self: center;
    margin: 0 0 .8rem 0;
    border-radius: .4rem;
}

.main__container--colored {
    background-color: var(--clr-very-light-grayish-blue);
}

.main__owner-img {
    grid-column: 1/2;
    grid-row: 1/4;
    max-width: 2.5rem;
    margin: .7rem;
}

.main__content {
    grid-column: 2/3;
    grid-row: 1/2; 
    justify-self: start;
    font-size: .9rem;
    padding: .6rem;
}

@media screen and (max-width: 280px) {
    .main__content {
        width: 70vw !important;
    }
}

.main__content-img {
    float: right;
    margin: .2rem;
    width: 2.5rem;
}

.main__content-owner {
    color: var(--clr-very-dark-blue);
    font-weight: var(--fw-800);
}

.main__content-action {
    color: var(--clr-dark-grayish-blue);
}

.main__content-notice {
    color: var(--clr-dark-grayish-blue);
    font-weight: var(--fw-800);
}

.main__content-group {
    color: var(--clr-blue);
    font-weight: var(--fw-800);   
}

.main__content-mark {
    display: inline-block;
    align-self: center;
}

.main__content-mark--hide {
    display: none;
}

.main__time {
    color: var(--clr-grayish-blue);
}

.main__msg {
    grid-column: 2/3;
    grid-row: 3/4;
    padding: .3rem;
    font-size: .9rem;
    color: var(--clr-dark-grayish-blue);
    width: 92%;
    padding: 1.2rem;
    border: 1px solid var(--clr-grayish-blue);
    border-radius: .2rem;
}

a {
    text-decoration: none;
}

/* style 3rd component - mobile */
/*Component is styled in external css file*/

/*---------------------Desktop layout-------------------------*/
@media screen and (min-width: 48rem) {

body {
    background-color: var(--clr-very-light-grayish-blue);
    align-items: center;
}
    
.grid_container {
    margin: 2rem 0 2rem 0;
    max-width: 43rem;
    background-color: var(--clr-white);
    border-radius: .7rem;
    max-height: 55rem;
}

/* style 1st component - desktop */
.header {
    margin: 2rem 0 2rem 0;
    max-width: 95%;
}

.header__switch:hover {
    cursor: pointer;
    color: var(--clr-blue);
}

/* style 2nd component - desktop */ 
.main__notifications {
    max-width: 95%;
}

.main__container {
    max-width: 100%;
}

.main__content {
    max-width: 36.5rem;
}

.main__content-img:hover {
    cursor: pointer;
    border-radius: .4rem;
    border: 2px solid white;
    outline: 1px solid var(--clr-light-grayish-blue2);
}

.main__content-owner:hover {
    cursor: pointer;
    color: var(--clr-blue);
}

.main__content-notice:hover {
    cursor: pointer;
    color: var(--clr-blue);
}

.main__content-group:hover {
    cursor: pointer;
}

.main__msg {
    max-width: 100%;
    cursor: pointer;
}

.main__msg:hover {
    background-color: var(--clr-light-grayish-blue2);
    border: none;
}

/*style 3rd component - desktop */
/*Component is styled in external css file*/

}

/*------------------grid area names---------------------------*/
.header {
    grid-area: header;
}

.header__title {
    grid-area: header__title;
}

.header__switch {
    grid-area: header__switch;
}

.main {
    grid-area: main;;
}

.heading {
    grid-area: heading;
}

.main__notifications {
    grid-area: main__notifications;
}

.main__container {
    grid-area: main__container;
}

.attribution {
    grid-area: attribution;
}